# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
**/venv/
.venv
env/
ENV/

# Logs
**/logs/
*.log

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Streamlit
.streamlit/

# MongoDB
data/

# Service specific
services/**/logs/
services/**/__pycache__/
services/**/venv/
services/**/.pytest_cache/

# Frontend specific
frontend/logs/
frontend/__pycache__/
frontend/venv/
frontend/.pytest_cache/
